@use '@angular/material' as mat;
@use './theme/brand' as brand;
@use './theme/theme-colors' as brand-palettes;

html {
  @include mat.theme(
    (
      color: (
        primary: brand-palettes.$primary-palette,
        tertiary: brand-palettes.$tertiary-palette,
      ),
      typography: brand.$brand-font-family,
      density: 0,
    )
  );
  color-scheme: light;
}

html {
  min-width: 320px;
  min-height: 100%;
  background: brand.$brand-surface;
  font-family: brand.$brand-font-family;
}

body {
  min-height: 100vh;
  margin: 0;
}
