@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Aptos,
      density: 0,
    )
  );
  color-scheme: light;
}

html {
  min-width: 320px;
  min-height: 100%;
  background: #f3f7f8;
  font-family: Inter, Aptos, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
}
